<div>
  <h1>Edit User: <%=@name%></h1>
  <input type="text" name="" value="Name">
  <input type="text" name="" value="Email">
  <input type="text" name="" value="Age">
  <input type="Submit" name="" value="Submit">
</div>
