<div>
  <form class="" action="" method="post">
    First Name:<br>
    <input type="text" name="" value="">
    <br><br>
    Last Name:<br>
    <input type="text" name="" value="">
    <br><br>
    Email:<br>
    <input type="text" name="" value="">
    <br><br>
    Age:<br>
    <input type="text" name="" value="">
    <br><br>
    <input type="submit" name="" value="Submit">
  </form>
</div>
